
body {
background-color: #e6e6fa;
}
h1 {
background-color: #dda0dd;
color: #c71585;
text-align: center;
margin: 26px 600px;
}
#title{
margin: 26px 600px 0px;
font-weight: bold;
}
#value {
margin: 0px 50px 0px 600px;
}